header
{
	background: #000066e6;
	padding: 20px;
  margin: 0;}

nav{float: right;
    width: 100%;
    background: #ffe44d;}


nav ul
  {
    margin: 0;
    padding: 0;
  }

nav ul li
  {
    list-style-type: none;
    display: inline;
    text-align: center;
  }

nav li a
  {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #000066e6;
    text-decoration: none;
    border-right: 1px solid #fff;
  }

nav li a:hover { background: #ccad00; }

h1{text-align: center;}

h2{text-align: center;
   font-family: "Lucida Console", "Courier New", cursivecursive;
   color: #00004d;}

h3{text-align: center;
   font-family: "Lucida Console", "Courier New", cursive;
   color: #00004d;}

p{/*font-family: "Lucida Console", cursive;*/
/*font-family:  "Courier New", cursive;*/
/*font-family: "Tohoma", cursive;*/
font-family: "Lucida Console", monspace;
 color:#00004d;}

li{font-family: "Lucida Console", monspace; color:#00004d}

footer{height:auto; border:1px solid;
       background-color:#0a0a3f; font-family: "herculum",
       fantasy; font-size: 30px; color: white;}


#wrapper{border: 2px solid; height:auto;
         width:94%; margin:auto;}

#content{float: left; width: auto;
	       padding: 5px 0; margin: 0 0 0 30px;}

#pictures{height: 350px; width: auto;}

#window{height:300px; width:500px; border:2px;
       background-image:url("images/refl.jpg");
       background-size:100% 100%;
       background-repeat:no-repeat;
       float: left;
       }

#window1{height:300px; width:530px; border:2px;
        background-image:url("images/reflection.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        float: right;
      }

#window2{height:200px; width:430px; border:2px;
        background-image:url("images/rainbow.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right:auto;
        }

#pictures1{height: 200px; width: auto;}

#window3{height:200px; width:430px; border:2px;
        background-image:url("images/diffrac.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right:auto;
        }

#pictures2{height: 200px; width: auto;}

#window4{height:200px; width:430px; border:2px;
        background-image:url("images/coninter.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right:auto;
        }

#pictures3{height: 200px; width: auto;}

#window5{height:200px; width:430px; border:2px;
        background-image:url("images/destrucinter.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right:auto;
        }

#pictures4{height: 200px; width: auto;}

#window6{height:250px; width:480px; border:2px;
        background-image:url("images/doppler.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right:auto;
        }

#pictures5{height: 200px; width: auto;}

#window7{height:230px; width:480px; border:2px;
        background-image:url("images/resonance.png");
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right:auto;
        }

#pictures6{height: 230px; width: auto;}
